/* login */
.login-container {
  padding: 20px;
}

.login-head-group{
  border-bottom: 3px solid #000;
  margin-bottom: 30px;
}
.login-header {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: lighter;
}

.login-head {
  font-weight: bolder;
  padding-left: 10px;
}
.login-form {
  margin: 10px;
}
.login-content {
  font-size: 12px;
  margin-bottom: 20px;
}
.email,.password {
  font-size: 12px;
  font-weight: bolder;
}

/* auth */
.auth-container {
  width: 1000px;
  margin: 100px auto;
  display: flex;
}
